@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #262626;
}
::-webkit-scrollbar-thumb {
  background: #c7c6c6;
}

.rigid-grid-bg {
  background-size: 32px 32px;
  background-image: linear-gradient(to right, #1a1a1a 1px, transparent 1px),
    linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
}
